# Importing the Required Libraries

In [1]:
import mysql.connector as db
import pandas as pd
import os
import warnings
warnings.filterwarnings("ignore")
import sys

In [2]:
# MySQL Connector

import pymysql
con= pymysql.connect(
    host="localhost",
    user="root",
    password="123456789",
    autocommit=True
    )
print(con)

<pymysql.connections.Connection object at 0x000002EEA3B1E610>

In [3]:
# ! pip install cryptography

In [4]:
mycursor = con.cursor() # Create a cursor object

In [5]:
print(os.getcwd())

d:\Projects\Mini_Projects\CricSheet_Analysis\Scripts

# Read the CSV files into pandas dataframes

In [10]:
df1 = pd.read_csv(r'D:\Projects\Mini_Projects\CricSheet_Analysis\CSV_Combined\ipl_json_combined.csv')

In [11]:
df1.head()

,Date,Match_Number,City,Venue,Season,Name,Match_Type,Total_Overs,Teams_Participated,Toss_Winner,...,Batter,Bowler,Non_striker,Batter_runs,Extras,Total_runs,Type,Player_Out,Fielder_Name,Over_Number
0,2017-04-05,1.0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",2017,Indian Premier League,T20,20,"Sunrisers Hyderabad,Royal Challengers Bangalore",Royal Challengers Bangalore,...,DA Warner,TS Mills,S Dhawan,0,0,0,NaN,NaN,NaN,NaN
1,2017-04-05,1.0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",2017,Indian Premier League,T20,20,"Sunrisers Hyderabad,Royal Challengers Bangalore",Royal Challengers Bangalore,...,DA Warner,TS Mills,S Dhawan,0,0,0,NaN,NaN,NaN,NaN
2,2017-04-05,1.0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",2017,Indian Premier League,T20,20,"Sunrisers Hyderabad,Royal Challengers Bangalore",Royal Challengers Bangalore,...,DA Warner,TS Mills,S Dhawan,4,0,4,NaN,NaN,NaN,NaN
3,2017-04-05,1.0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",2017,Indian Premier League,T20,20,"Sunrisers Hyderabad,Royal Challengers Bangalore",Royal Challengers Bangalore,...,DA Warner,TS Mills,S Dhawan,0,0,0,NaN,NaN,NaN,NaN
4,2017-04-05,1.0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",2017,Indian Premier League,T20,20,"Sunrisers Hyderabad,Royal Challengers Bangalore",Royal Challengers Bangalore,...,DA Warner,TS Mills,S Dhawan,0,2,2,NaN,NaN,NaN,NaN

In [8]:
df1.isnull().sum() # Check for null values in the dataframe

Date                  0
Match_Number          0
City                  0
Venue                 0
Season                0
Name                  0
Match_Type            0
Total_Overs           0
Teams_Participated    0
Toss_Winner           0
Choose_To             0
Total_Runs            0
Match_Winner          0
Man_Of_Match          0
Team                  0
Over                  0
Batter                0
Bowler                0
Non_striker           0
Batter_runs           0
Extras                0
Total_runs            0
Type                  0
Player_Out            0
Fielder_Name          0
Over_Number           0
Year                  0
dtype: int64

In [ ]:
# DESCRIBE cric_sheet_db.ipl_matches;

In [12]:
df2 = pd.read_csv(r'D:\Projects\Mini_Projects\CricSheet_Analysis\CSV_Combined\odis_json_combined.csv')

In [13]:
df2.head()

,Date,Match_Number,City,Venue,Season,Name,Match_Type,Total_Overs,Teams_Participated,Toss_Winner,...,Batter,Bowler,Non_striker,Batter_runs,Extras,Total_runs,Type,Player_Out,Fielder_Name,Over_Number
0,2017-01-13,1.0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",2016/17,Pakistan in Australia ODI Series,ODI,50,"Australia,Pakistan",Australia,...,DA Warner,Mohammad Amir,TM Head,0,0,0,NaN,NaN,NaN,NaN
1,2017-01-13,1.0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",2016/17,Pakistan in Australia ODI Series,ODI,50,"Australia,Pakistan",Australia,...,DA Warner,Mohammad Amir,TM Head,0,0,0,NaN,NaN,NaN,NaN
2,2017-01-13,1.0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",2016/17,Pakistan in Australia ODI Series,ODI,50,"Australia,Pakistan",Australia,...,DA Warner,Mohammad Amir,TM Head,0,0,0,NaN,NaN,NaN,NaN
3,2017-01-13,1.0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",2016/17,Pakistan in Australia ODI Series,ODI,50,"Australia,Pakistan",Australia,...,DA Warner,Mohammad Amir,TM Head,0,0,0,NaN,NaN,NaN,NaN
4,2017-01-13,1.0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",2016/17,Pakistan in Australia ODI Series,ODI,50,"Australia,Pakistan",Australia,...,DA Warner,Mohammad Amir,TM Head,0,1,1,NaN,NaN,NaN,NaN

In [14]:
df2.isnull().sum() # Check for null values in the dataframe

Date                        0
Match_Number           106687
City                   163784
Venue                       0
Season                      0
Name                     5796
Match_Type                  0
Total_Overs                 0
Teams_Participated          0
Toss_Winner                 0
Choose_To                   0
Total_Runs             777293
Match_Winner            42237
Man_Of_Match            75935
Team                        0
Over                    41707
Batter                      0
Bowler                      0
Non_striker                 0
Batter_runs                 0
Extras                      0
Total_runs                  0
Type                  1486189
Player_Out            1486189
Fielder_Name          1501008
Over_Number           1486189
dtype: int64

In [15]:
df3 = pd.read_csv(r'D:\Projects\Mini_Projects\CricSheet_Analysis\CSV_Combined\t20s_json_combined.csv')

In [16]:
df3.head()

,Date,Match_Number,City,Venue,Season,Name,Match_Type,Total_Overs,Teams_Participated,Toss_Winner,...,Batter,Bowler,Non_striker,Batter_runs,Extras,Total_runs,Type,Player_Out,Fielder_Name,Over_Number
0,2017-02-17,1.0,NaN,Melbourne Cricket Ground,2016/17,Sri Lanka in Australia T20I Series,T20,20,"Australia,Sri Lanka",Sri Lanka,...,AJ Finch,SL Malinga,M Klinger,0,0,0,NaN,NaN,NaN,NaN
1,2017-02-17,1.0,NaN,Melbourne Cricket Ground,2016/17,Sri Lanka in Australia T20I Series,T20,20,"Australia,Sri Lanka",Sri Lanka,...,AJ Finch,SL Malinga,M Klinger,0,0,0,NaN,NaN,NaN,NaN
2,2017-02-17,1.0,NaN,Melbourne Cricket Ground,2016/17,Sri Lanka in Australia T20I Series,T20,20,"Australia,Sri Lanka",Sri Lanka,...,AJ Finch,SL Malinga,M Klinger,1,0,1,NaN,NaN,NaN,NaN
3,2017-02-17,1.0,NaN,Melbourne Cricket Ground,2016/17,Sri Lanka in Australia T20I Series,T20,20,"Australia,Sri Lanka",Sri Lanka,...,M Klinger,SL Malinga,AJ Finch,2,0,2,NaN,NaN,NaN,NaN
4,2017-02-17,1.0,NaN,Melbourne Cricket Ground,2016/17,Sri Lanka in Australia T20I Series,T20,20,"Australia,Sri Lanka",Sri Lanka,...,M Klinger,SL Malinga,AJ Finch,0,0,0,NaN,NaN,NaN,NaN

In [17]:
df4 = pd.read_csv(r'D:\Projects\Mini_Projects\CricSheet_Analysis\CSV_Combined\tests_json_combined.csv')

In [18]:
df4.head()

,Date,Match_Number,City,Venue,Season,Name,Match_Type,Total_Overs,Teams_Participated,Toss_Winner,...,Batter,Bowler,Non_striker,Batter_runs,Extras,Total_runs,Type,Player_Out,Fielder_Name,Over_Number
0,2016-11-03,1.0,Perth,Western Australia Cricket Association Ground,2016/17,South Africa in Australia Test Series,Test,NaN,"Australia,South Africa",South Africa,...,SC Cook,MA Starc,D Elgar,0,0,0,NaN,NaN,NaN,NaN
1,2016-11-03,1.0,Perth,Western Australia Cricket Association Ground,2016/17,South Africa in Australia Test Series,Test,NaN,"Australia,South Africa",South Africa,...,SC Cook,MA Starc,D Elgar,0,0,0,NaN,NaN,NaN,NaN
2,2016-11-03,1.0,Perth,Western Australia Cricket Association Ground,2016/17,South Africa in Australia Test Series,Test,NaN,"Australia,South Africa",South Africa,...,SC Cook,MA Starc,D Elgar,0,0,0,NaN,NaN,NaN,NaN
3,2016-11-03,1.0,Perth,Western Australia Cricket Association Ground,2016/17,South Africa in Australia Test Series,Test,NaN,"Australia,South Africa",South Africa,...,SC Cook,MA Starc,D Elgar,0,0,0,caught,SC Cook,{'name': 'MR Marsh'},0.0
4,2016-11-03,1.0,Perth,Western Australia Cricket Association Ground,2016/17,South Africa in Australia Test Series,Test,NaN,"Australia,South Africa",South Africa,...,HM Amla,MA Starc,D Elgar,0,0,0,NaN,NaN,NaN,NaN

In [19]:
print(df1.columns)

Index(['Date', 'Match_Number', 'City', 'Venue', 'Season', 'Name', 'Match_Type',
       'Total_Overs', 'Teams_Participated', 'Toss_Winner', 'Choose_To',
       'Total_Runs', 'Match_Winner', 'Man_Of_Match', 'Team', 'Over', 'Batter',
       'Bowler', 'Non_striker', 'Batter_runs', 'Extras', 'Total_runs', 'Type',
       'Player_Out', 'Fielder_Name', 'Over_Number'],
      dtype='object')

In [20]:
print(len(df1.columns))

26

In [21]:
print(df2.columns)

Index(['Date', 'Match_Number', 'City', 'Venue', 'Season', 'Name', 'Match_Type',
       'Total_Overs', 'Teams_Participated', 'Toss_Winner', 'Choose_To',
       'Total_Runs', 'Match_Winner', 'Man_Of_Match', 'Team', 'Over', 'Batter',
       'Bowler', 'Non_striker', 'Batter_runs', 'Extras', 'Total_runs', 'Type',
       'Player_Out', 'Fielder_Name', 'Over_Number'],
      dtype='object')

In [22]:
print(len(df2.columns))

26

In [23]:
df3.isnull().sum()

Date                       0
Match_Number          100291
City                   41344
Venue                      0
Season                     0
Name                   15006
Match_Type                 0
Total_Overs                0
Teams_Participated         0
Toss_Winner                0
Choose_To                  0
Total_Runs            431656
Match_Winner           16694
Man_Of_Match           79503
Team                       0
Over                   49937
Batter                     0
Bowler                     0
Non_striker                0
Batter_runs                0
Extras                     0
Total_runs                 0
Type                  849966
Player_Out            849966
Fielder_Name          868456
Over_Number           849966
dtype: int64

In [24]:
print(df4.columns)

Index(['Date', 'Match_Number', 'City', 'Venue', 'Season', 'Name', 'Match_Type',
       'Total_Overs', 'Teams_Participated', 'Toss_Winner', 'Choose_To',
       'Total_Runs', 'Match_Winner', 'Man_Of_Match', 'Team', 'Over', 'Batter',
       'Bowler', 'Non_striker', 'Batter_runs', 'Extras', 'Total_runs', 'Type',
       'Player_Out', 'Fielder_Name', 'Over_Number'],
      dtype='object')

In [25]:
print(len(df4.columns))

26

In [26]:
df4.isnull().sum()

Date                        0
Match_Number            72521
City                   204547
Venue                       0
Season                      0
Name                    18283
Match_Type                  0
Total_Overs           1661178
Teams_Participated          0
Toss_Winner                 0
Choose_To                   0
Total_Runs             782326
Match_Winner           376249
Man_Of_Match            13462
Team                        0
Over                    27435
Batter                      0
Bowler                      0
Non_striker                 0
Batter_runs                 0
Extras                      0
Total_runs                  0
Type                  1633743
Player_Out            1633743
Fielder_Name          1644002
Over_Number           1633743
dtype: int64

In [27]:
mycursor.execute("USE CRIC_SHEET_DB") # Use the database

0

In [28]:
# Create tables for each dataframe

mycursor=con.cursor()
mycursor.execute("CREATE DATABASE CRIC_SHEET_DB")
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

ProgrammingError: (1007, "Can't create database 'cric_sheet_db'; database exists")

In [29]:
mycursor.execute("SHOW DATABASES") # Show all databases

13

## Create Table for IPL Matches

In [ ]:
df1.columns

In [ ]:
create_table_query = """
CREATE TABLE IPL_Matches (
    Date DATE NOT NULL,
    Match_Number INT,
    City VARCHAR(50),
    Venue VARCHAR(100),
    Season VARCHAR(20),
    Name VARCHAR(50),
    Match_Type VARCHAR(20),
    Total_Overs INT,
    Teams_Participated VARCHAR(100),
    Toss_Winner VARCHAR(50),
    Choose_To VARCHAR(20),
    Match_Winner VARCHAR(50),
    Man_Of_Match VARCHAR(50),
    Team VARCHAR(50),
    `Over` INT,
    Batter VARCHAR(50),
    Bowler VARCHAR(50),
    Non_striker VARCHAR(50),
    Batter_runs INT,
    Extras INT,
    Total_runs INT,
    Type VARCHAR(20),
    Player_Out VARCHAR(50),
    Fielder_Name VARCHAR(50),
    Over_Number INT,
    Year INT)
"""

mycursor.execute(create_table_query)
con.commit()
print("IPL_Matches table created successfully!")

In [ ]:
create_table_query = """
CREATE TABLE ODI_Matches (
    Date DATE NOT NULL,
    Match_Number INT,
    City VARCHAR(50),
    Venue VARCHAR(100),
    Season VARCHAR(20),
    Name VARCHAR(100),
    Match_Type VARCHAR(50),
    Total_Overs INT,
    Teams_Participated VARCHAR(100),
    Toss_Winner VARCHAR(50),
    Choose_To VARCHAR(20),
    Match_Winner VARCHAR(50),
    Man_Of_Match VARCHAR(50),
    Team VARCHAR(50),
    `Over` INT,
    Batter VARCHAR(50),
    Bowler VARCHAR(50),
    Non_striker VARCHAR(50),
    Batter_runs INT,
    Extras INT,
    Total_runs INT,
    Type VARCHAR(10),
    Player_Out VARCHAR(50),
    Fielder_Name VARCHAR(50),
    Over_Number INT
)
"""
mycursor.execute(create_table_query)
con.commit()
print("IPL_Matches table created successfully!")

In [ ]:
create_table_query = """
CREATE TABLE T20_Matches (
    Date DATE NOT NULL,
    Match_Number INT,
    City VARCHAR(50),
    Venue VARCHAR(100),
    Season VARCHAR(20),
    Name VARCHAR(50),
    Match_Type VARCHAR(20),
    Total_Overs INT,
    Teams_Participated VARCHAR(100),
    Toss_Winner VARCHAR(50),
    Choose_To VARCHAR(20),
    Match_Winner VARCHAR(50),
    Man_Of_Match VARCHAR(50),
    Team VARCHAR(50),
    `Over` INT,
    Batter VARCHAR(50),
    Bowler VARCHAR(50),
    Non_striker VARCHAR(50),
    Batter_runs INT,
    Extras INT,
    Total_runs INT,
    Type VARCHAR(20),
    Player_Out VARCHAR(50),
    Fielder_Name VARCHAR(50),
    Over_Number INT)
"""

mycursor.execute(create_table_query)
con.commit()
print("T20_Matches table created successfully!")

In [ ]:
create_table_query = """
CREATE TABLE TEST_Matches (
    Date DATE NOT NULL,
    Match_Number INT,
    City VARCHAR(50),
    Venue VARCHAR(100),
    Season VARCHAR(20),
    Name VARCHAR(50),
    Match_Type VARCHAR(20),
    Total_Overs INT,
    Teams_Participated VARCHAR(100),
    Toss_Winner VARCHAR(50),
    Choose_To VARCHAR(20),
    Match_Winner VARCHAR(50),
    Man_Of_Match VARCHAR(50),
    Team VARCHAR(50),
    `Over` INT,
    Batter VARCHAR(50),
    Bowler VARCHAR(50),
    Non_striker VARCHAR(50),
    Batter_runs INT,
    Extras INT,
    Total_runs INT,
    Type VARCHAR(20),
    Player_Out VARCHAR(50),
    Fielder_Name VARCHAR(50),
    Over_Number INT)
"""

mycursor.execute(create_table_query)
con.commit()
print("TEST_Matches table created successfully!")

In [ ]:
df1.columns

In [ ]:
import pandas as pd
import pymysql
from pymysql.err import InterfaceError, OperationalError, DataError

# Step 1: Preprocess the Type column to avoid "Data too long" error
print("Unique values in Type column before cleaning:", df1['Type'].unique())

# Define a mapping for long Type values to shorter ones
type_mapping = {
    'caught and bowled': 'caught',
    'not out': 'Not Out',
    'run out': 'run out',
    'stumped': 'stumped',
    'caught': 'caught',
    'bowled': 'bowled',
    'lbw': 'lbw',
                        # Add other mappings as needed based on unique values
}

# Apply mapping and truncate to 10 characters (adjust based on DB schema)
df1['Type'] = df1['Type'].map(type_mapping).fillna(df1['Type']).str[:10].fillna('Not Out')

# Verify the cleaned Type column
print("Unique values in Type column after cleaning:", df1['Type'].unique())

# Step 2: Prepare the insert query
insert_query = """
    INSERT INTO IPL_Matches (
        Date, Match_Number, City, Venue, Season, Name, Match_Type,
        Total_Overs, Teams_Participated, Toss_Winner, Choose_To,
        Match_Winner, Man_Of_Match, Team, `Over`, Batter,
        Bowler, Non_striker, Batter_runs, Extras, Total_runs, Type,
        Player_Out, Fielder_Name, Over_Number, Year
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Step 3: Convert DataFrame to list of tuples
data = [
    (
        row['Date'],
        row['Match_Number'] if pd.notnull(row['Match_Number']) else None,
        row['City'],
        row['Venue'],
        row['Season'],
        row['Name'],
        row['Match_Type'],
        row['Total_Overs'] if pd.notnull(row['Total_Overs']) else None,
        row['Teams_Participated'],
        row['Toss_Winner'],
        row['Choose_To'],
        row['Match_Winner'],
        row['Man_Of_Match'],
        row['Team'],
        row['Over'] if pd.notnull(row['Over']) else None,
        row['Batter'],
        row['Bowler'],
        row['Non_striker'],
        row['Batter_runs'] if pd.notnull(row['Batter_runs']) else None,
        row['Extras'] if pd.notnull(row['Extras']) else None,
        row['Total_runs'] if pd.notnull(row['Total_runs']) else None,
        row['Type'],
        row['Player_Out'],
        row['Fielder_Name'],
        row['Over_Number'] if pd.notnull(row['Over_Number']) else None,
        row['Year'] if pd.notnull(row['Year']) else None
    ) for index, row in df1.iterrows()
]

# Step 4: Batch insert with error handling
def execute_batch_insert(connection, cursor, query, data, batch_size=1000):
    total_inserted = 0
    for i in range(0, len(data), batch_size):
        batch = data[i:i + batch_size]
        try:
            cursor.executemany(query, batch)
            connection.commit()
            total_inserted += cursor.rowcount
            print(f"Inserted {cursor.rowcount} rows in batch {i // batch_size + 1}")
        except (InterfaceError, OperationalError, DataError) as e:
            print(f"Error in batch {i // batch_size + 1}: {e}")
            connection.rollback()
            # Retry each row in the batch individually to identify problematic rows
            for j, row in enumerate(batch):
                try:
                    cursor.execute(query, row)
                    connection.commit()
                    total_inserted += 1
                except (InterfaceError, OperationalError, DataError) as e:
                    print(f"Error at row {i + j}: {e}")
                    print(f"Row data: {row}")
    return total_inserted

# Step 5: Establish database connection and execute insertion
try:
    mydb = pymysql.connect(
        host="localhost",  # Adjust as needed
        user="root",
        password="123456789",
        database="CRIC_SHEET_DB",
        connect_timeout=30,
        write_timeout=30,
        read_timeout=30
    )
    mycursor = mydb.cursor()

    total_inserted = execute_batch_insert(mydb, mycursor, insert_query, data)
    print(f"Successfully inserted {total_inserted} rows into IPL_Matches")

except (InterfaceError, OperationalError) as e:
    print(f"Connection error: {e}")
finally:
    if mycursor:
        mycursor.close()
    if mydb:
        mydb.close()

In [ ]:
df2.columns

In [ ]:
import pandas as pd
import pymysql
from pymysql.err import InterfaceError, OperationalError, DataError, ProgrammingError

# Step 1: Preprocess the Type column to avoid potential "Data too long" errors
print("Unique values in Type column before cleaning:", df2['Type'].unique())

# Define a mapping for long Type values to shorter ones
type_mapping = {
    'caught and bowled': 'caught',
    'not out': 'Not Out',
    'run out': 'run out',
    'stumped': 'stumped',
    'caught': 'caught',
    'bowled': 'bowled',
    'lbw': 'lbw',
                    # Add other mappings as needed based on unique values
}

# Apply mapping and truncate to 10 characters (adjust based on DB schema)
df2['Type'] = df2['Type'].map(type_mapping).fillna(df2['Type']).str[:10].fillna('Not Out')

# Verify the cleaned Type column
print("Unique values in Type column after cleaning:", df2['Type'].unique())

# Step 2: Prepare the insert query
insert_query = """
    INSERT INTO ODI_Matches (
        Date, Match_Number, City, Venue, Season, Name, Match_Type,
        Total_Overs, Teams_Participated, Toss_Winner, Choose_To,
        Match_Winner, Man_Of_Match, Team, `Over`, Batter,
        Bowler, Non_striker, Batter_runs, Extras, Total_runs, Type,
        Player_Out, Fielder_Name, Over_Number
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Step 3: Convert DataFrame to list of tuples
data = [
    (
        row['Date'],
        row['Match_Number'] if pd.notnull(row['Match_Number']) else None,
        row['City'],
        row['Venue'],
        row['Season'],
        row['Name'],
        row['Match_Type'],
        row['Total_Overs'] if pd.notnull(row['Total_Overs']) else None,
        row['Teams_Participated'],
        row['Toss_Winner'],
        row['Choose_To'],
        row['Match_Winner'],
        row['Man_Of_Match'],
        row['Team'],
        row['Over'] if pd.notnull(row['Over']) else None,
        row['Batter'],
        row['Bowler'],
        row['Non_striker'],
        row['Batter_runs'] if pd.notnull(row['Batter_runs']) else None,
        row['Extras'] if pd.notnull(row['Extras']) else None,
        row['Total_runs'] if pd.notnull(row['Total_runs']) else None,
        row['Type'],
        row['Player_Out'],
        row['Fielder_Name'],
        row['Over_Number'] if pd.notnull(row['Over_Number']) else None
    ) for index, row in df2.iterrows()
]

# Step 4: Batch insert with error handling
def execute_batch_insert(connection, cursor, query, data, batch_size=1000):
    total_inserted = 0
    for i in range(0, len(data), batch_size):
        batch = data[i:i + batch_size]
        try:
            cursor.executemany(query, batch)
            connection.commit()
            total_inserted += cursor.rowcount
            print(f"Inserted {cursor.rowcount} rows in batch {i // batch_size + 1}")
        except (InterfaceError, OperationalError, DataError, ProgrammingError) as e:
            print(f"Error in batch {i // batch_size + 1}: {e}")
            connection.rollback()
            # Retry each row in the batch individually to identify problematic rows
            for j, row in enumerate(batch):
                try:
                    cursor.execute(query, row)
                    connection.commit()
                    total_inserted += 1
                except (InterfaceError, OperationalError, DataError, ProgrammingError) as e:
                    print(f"Error at row {i + j}: {e}")
                    print(f"Row data: {row}")
    return total_inserted

# Step 5: Establish database connection and execute insertion
try:
    mydb = pymysql.connect(
        host="localhost",  # Adjust as needed
        user="root",
        password="123456789",
        database="CRIC_SHEET_DB",
        connect_timeout=30,
        write_timeout=30,
        read_timeout=30
    )
    mycursor = mydb.cursor()

    total_inserted = execute_batch_insert(mydb, mycursor, insert_query, data)
    print(f"Successfully inserted {total_inserted} rows into ODI_Matches")

except (InterfaceError, OperationalError, ProgrammingError) as e:
    print(f"Connection error: {e}")
finally:
    if mycursor:
        mycursor.close()
    if mydb:
        mydb.close()

In [ ]:
len(df3.columns)

In [ ]:
import pandas as pd
import pymysql
from pymysql.err import InterfaceError, OperationalError, DataError, ProgrammingError

# Step 1: Preprocess the Type column to avoid potential "Data too long" errors
print("Unique values in Type column before cleaning:", df3['Type'].unique())

# Define a mapping for long Type values to shorter ones
type_mapping = {
    'caught and bowled': 'caught',
    'not out': 'Not Out',
    'run out': 'run out',
    'stumped': 'stumped',
    'caught': 'caught',
    'bowled': 'bowled',
    'lbw': 'lbw',
                    # Add other mappings as needed based on unique values
}

# Apply mapping and truncate to 10 characters (adjust based on DB schema)
df3['Type'] = df3['Type'].map(type_mapping).fillna(df3['Type']).str[:10].fillna('Not Out')

# Verify the cleaned Type column
print("Unique values in Type column after cleaning:", df3['Type'].unique())

# Step 2: Prepare the insert query
insert_query = """
    INSERT INTO T20_Matches (
        Date, Match_Number, City, Venue, Season, Name, Match_Type,
        Total_Overs, Teams_Participated, Toss_Winner, Choose_To,
        Match_Winner, Man_Of_Match, Team, `Over`, Batter,
        Bowler, Non_striker, Batter_runs, Extras, Total_runs, Type,
        Player_Out, Fielder_Name, Over_Number
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Step 3: Convert DataFrame to list of tuples
data = [
    (
        row['Date'],
        row['Match_Number'] if pd.notnull(row['Match_Number']) else None,
        row['City'],
        row['Venue'],
        row['Season'],
        row['Name'],
        row['Match_Type'],
        row['Total_Overs'] if pd.notnull(row['Total_Overs']) else None,
        row['Teams_Participated'],
        row['Toss_Winner'],
        row['Choose_To'],
        row['Match_Winner'],
        row['Man_Of_Match'],
        row['Team'],
        row['Over'] if pd.notnull(row['Over']) else None,
        row['Batter'],
        row['Bowler'],
        row['Non_striker'],
        row['Batter_runs'] if pd.notnull(row['Batter_runs']) else None,
        row['Extras'] if pd.notnull(row['Extras']) else None,
        row['Total_runs'] if pd.notnull(row['Total_runs']) else None,
        row['Type'],
        row['Player_Out'],
        row['Fielder_Name'],
        row['Over_Number'] if pd.notnull(row['Over_Number']) else None
    ) for index, row in df3.iterrows()
]

# Step 4: Batch insert with error handling
def execute_batch_insert(connection, cursor, query, data, batch_size=1000):
    total_inserted = 0
    for i in range(0, len(data), batch_size):
        batch = data[i:i + batch_size]
        try:
            cursor.executemany(query, batch)
            connection.commit()
            total_inserted += cursor.rowcount
            print(f"Inserted {cursor.rowcount} rows in batch {i // batch_size + 1}")
        except (InterfaceError, OperationalError, DataError, ProgrammingError) as e:
            print(f"Error in batch {i // batch_size + 1}: {e}")
            connection.rollback()
            # Retry each row in the batch individually to identify problematic rows
            for j, row in enumerate(batch):
                try:
                    cursor.execute(query, row)
                    connection.commit()
                    total_inserted += 1
                except (InterfaceError, OperationalError, DataError, ProgrammingError) as e:
                    print(f"Error at row {i + j}: {e}")
                    print(f"Row data: {row}")
    return total_inserted

# Step 5: Establish database connection and execute insertion
try:
    mydb = pymysql.connect(
        host="localhost",  # Adjust as needed
        user="root",
        password="123456789",
        database="CRIC_SHEET_DB",
        connect_timeout=30,
        write_timeout=30,
        read_timeout=30
    )
    mycursor = mydb.cursor()

    total_inserted = execute_batch_insert(mydb, mycursor, insert_query, data)
    print(f"Successfully inserted {total_inserted} rows into T20_Matches")

except (InterfaceError, OperationalError, ProgrammingError) as e:
    print(f"Connection error: {e}")
finally:
    if mycursor:
        mycursor.close()
    if mydb:
        mydb.close()

In [ ]:
df3.columns

In [ ]:
import pandas as pd
import pymysql
from pymysql.err import InterfaceError, OperationalError, DataError, ProgrammingError

# Step 1: Preprocess the Type column to avoid potential "Data too long" errors
print("Unique values in Type column before cleaning:", df4['Type'].unique())

# Define a mapping for long Type values to shorter ones
type_mapping = {
    'caught and bowled': 'caught',
    'not out': 'Not Out',
    'run out': 'run out',
    'stumped': 'stumped',
    'caught': 'caught',
    'bowled': 'bowled',
    'lbw': 'lbw',
                    # Add other mappings as needed based on unique values
}

# Apply mapping and truncate to 10 characters (adjust based on DB schema)
df4['Type'] = df4['Type'].map(type_mapping).fillna(df4['Type']).str[:10].fillna('Not Out')

# Verify the cleaned Type column
print("Unique values in Type column after cleaning:", df4['Type'].unique())

# Step 2: Prepare the insert query
insert_query = """
    INSERT INTO T20_Matches (
        Date, Match_Number, City, Venue, Season, Name, Match_Type,
        Total_Overs, Teams_Participated, Toss_Winner, Choose_To,
        Match_Winner, Man_Of_Match, Team, `Over`, Batter,
        Bowler, Non_striker, Batter_runs, Extras, Total_runs, Type,
        Player_Out, Fielder_Name, Over_Number
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Step 3: Convert DataFrame to list of tuples
data = [
    (
        row['Date'],
        row['Match_Number'] if pd.notnull(row['Match_Number']) else None,
        row['City'],
        row['Venue'],
        row['Season'],
        row['Name'],
        row['Match_Type'],
        row['Total_Overs'] if pd.notnull(row['Total_Overs']) else None,
        row['Teams_Participated'],
        row['Toss_Winner'],
        row['Choose_To'],
        row['Match_Winner'],
        row['Man_Of_Match'],
        row['Team'],
        row['Over'] if pd.notnull(row['Over']) else None,
        row['Batter'],
        row['Bowler'],
        row['Non_striker'],
        row['Batter_runs'] if pd.notnull(row['Batter_runs']) else None,
        row['Extras'] if pd.notnull(row['Extras']) else None,
        row['Total_runs'] if pd.notnull(row['Total_runs']) else None,
        row['Type'],
        row['Player_Out'],
        row['Fielder_Name'],
        row['Over_Number'] if pd.notnull(row['Over_Number']) else None
    ) for index, row in df4.iterrows()
]

# Step 4: Batch insert with error handling
def execute_batch_insert(connection, cursor, query, data, batch_size=1000):
    total_inserted = 0
    for i in range(0, len(data), batch_size):
        batch = data[i:i + batch_size]
        try:
            cursor.executemany(query, batch)
            connection.commit()
            total_inserted += cursor.rowcount
            print(f"Inserted {cursor.rowcount} rows in batch {i // batch_size + 1}")
        except (InterfaceError, OperationalError, DataError, ProgrammingError) as e:
            print(f"Error in batch {i // batch_size + 1}: {e}")
            connection.rollback()
            # Retry each row in the batch individually to identify problematic rows
            for j, row in enumerate(batch):
                try:
                    cursor.execute(query, row)
                    connection.commit()
                    total_inserted += 1
                except (InterfaceError, OperationalError, DataError, ProgrammingError) as e:
                    print(f"Error at row {i + j}: {e}")
                    print(f"Row data: {row}")
    return total_inserted

# Step 5: Establish database connection and execute insertion
try:
    mydb = pymysql.connect(
        host="localhost",  # Adjust as needed
        user="root",
        password="123456789",
        database="CRIC_SHEET_DB",
        connect_timeout=30,
        write_timeout=30,
        read_timeout=30
    )
    mycursor = mydb.cursor()

    total_inserted = execute_batch_insert(mydb, mycursor, insert_query, data)
    print(f"Successfully inserted {total_inserted} rows into TEST_Matches")

except (InterfaceError, OperationalError, ProgrammingError) as e:
    print(f"Connection error: {e}")
finally:
    if mycursor:
        mycursor.close()
    if mydb:
        mydb.close()